#mapSvg{background-color: #ffffff;}
.l0r0 { pointer-events: none; stroke: #845300; stroke-width: 0.26; stroke-opacity: 0.4; stroke-dasharray: ; fill: #9d9882; fill-opacity: 0.4; }
.l1r0 { pointer-events: none; stroke: #246440; stroke-width: 0.26; stroke-opacity: 0.4; stroke-dasharray: ; fill: #00a429; fill-opacity: 0.24; }
.l2r0 { stroke: #485860; stroke-width: 0.26; stroke-opacity: 0.6; stroke-dasharray: ; fill: #9b9b9b; fill-opacity: 0.6; }
.l3r0 { pointer-events: none; stroke: #622122; stroke-width: 0.26; stroke-opacity: 0.6; stroke-dasharray: ; fill: #822022; fill-opacity: 0.4; }
